; to find your my.cnf : /etc/mysql/mysql.conf.d/mysqld.cnf

[mysqld_safe]
datadir =  /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
nice = 0
port = 3306

[mysqld]
user = root
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/lib/mysql/mysql.sock
port = 3306
datadir = /var/lib/mysql
bind-address = 0.0.0.0
log_error = /var/log/mysql/error.log
log-bin=/var/lib/mysql/mysql-bin
skip-networking=false

[mysql]
user=root
port=3306
socket=/var/lib/mysql/mysql.sock